{% trans_default_domain "illarra_admin" %}

<form action="{{ action }}" method="POST" {{ form_enctype(form) }} class="clean-section">
    {% if 'PUT' == method %}<input type="hidden" name="_method" value="PUT" />{% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_row(form.tag) }}
    {% else %}
        <p><i class="icon-tag"></i>&nbsp; <strong>{{ form.tag.vars.value }}</strong></p>
        {{ form_widget(form.tag, { 'type': 'hidden' }) }}
    {% endif %}
    <div class="section-container" data-section data-options="deep_linking: true">
    {% for translation in form.translations %}
        <div class="section">
            <h5 class="title">
                <a href="#{{ translation.locale.vars.value }}">
                    <i class="icon-section-indicator"></i> {{ translation.locale.vars.value|upper }}
                </a>
            </h5>
            <div class="content" data-slug="{{ translation.locale.vars.value }}">
                {{ form_rest(translation) }}
            </div>
        </div>
    {% endfor %}
    </div>
    {{ form_rest(form) }}
    <hr />
    <p>
        <button class="radius button" type="submit">{{ 'action.save'|trans }}</button>
    </p>
</form>
