{% extends "IllarraCoreBundle:Admin:edit.html.twig" %}

{% block sidebar %}
    <ul class="small no-bullet color-text-light">
        <li><i class="icon-key"></i> {{ entity.id }}</li>
        <li><i class="icon-ok"></i> {{ 'admin.label.createdAt'|trans }}: {{ entity.createdAt|date('admin.format.datetime'|trans) }}</li>
        <li><i class="icon-edit"></i> {{ 'admin.label.updatedAt'|trans }}: {{ entity.updatedAt|date('admin.format.datetime'|trans) }}</li>
    </ul>
{% endblock %}
