{% extends "IllarraCoreBundle:Admin:layout.html.twig" %}

{% import "IllarraCoreBundle:Admin:helper.html.twig" as helper %}

{% trans_default_domain "illarra_admin" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {#
        <div class="button-bar right hide-for-small">
            {{ helper.page_range(page, pages, entities_per_page, entities_count) }}
            <ul class="button-group radius">
                <li>{{ helper.page_previous_button('admin_illarra_content_content_index', page, pages) }}</li>
                <li>{{ helper.page_next_button('admin_illarra_content_content_index', page, pages) }}</li>
            </ul>
        </div>
        #}
        <div class="button-bar">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="button-group radius">
                    <li>{{ helper.action_select_button() }}</li>
                </ul>
            {% endif %}
            <ul class="button-group radius js-action-main">
                <li>{{ helper.action_filter_button() }}</li>
            </ul>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="button-group radius js-action-main">
                    <li>{{ helper.action_new_button(path('admin_illarra_content_content_new')) }}</li>
                </ul>
                <ul class="button-group radius js-action-check" style="display:none">
                    <li>{{ helper.action_delete_all_button() }}</li>
                </ul>
            {% endif %}
        </div>
        <hr class="dark" />
        <h3>{{ 'content.title.index'|trans }}</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns fake-table js-table"> 
    {% for entity in entities %}
        <div class="fake-tr">
            <div class="row">
                <div class="large-10 columns">
                    <span class="actions-icon-bar">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}{{ helper.render_check() }}{% endif %}
                        <a class="right show-for-small color-text" href="{{ path('admin_illarra_content_content_edit', { 'id': entity.id }) }}">
                            <i class="icon-edit"></i><span class="hide">{{ 'action.edit'|trans }}</span>
                        </a>
                    </span>
                    {{ entity.tag }}
                    <em class="extra">{{ entity.text|truncate(100) }}</em>
                </div>
                <div class="large-2 columns hide-for-small small text-right">
                    <a href="{{ path('admin_illarra_content_content_edit', { 'id': entity.id }) }}">
                        <i class="icon-edit"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="button-bar show-for-small">
            <hr class="dark" />
            <ul class="button-group radius">
                <li>{{ helper.page_previous_button('admin_illarra_content_content_index', page, pages) }}</li>
                <li>{{ helper.page_next_button('admin_illarra_content_content_index', page, pages) }}</li>
            </ul>
            {{ helper.page_range(page, pages, entities_per_page, entities_count) }}
        </div>
    </div>
</div>
{% endblock %}
